.body.container{
    position: relative;
    top: 80px;
}
.nav-tabs {
    border-bottom: 2px solid rgba(150, 140, 54, 0.85);
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color:  rgba(150, 140, 54, 0.85);
    color: black !important;
    margin-right: 5px;
}
.nav-tabs .nav-link.active {
    color: black;
    background-color: rgba(99, 89, 39, 0.84);
    border-color:rgba(150, 140, 54, 0.84);
}
thead {
    color: black;
    background-color: rgba(99, 89, 39, 0.84);
}
tbody{
    color: black;
    background-color: rgba(200, 199, 89, 0.84);
}
/*a{*/
    /*font-size: 17px;*/
    /*color: #6b512f !important;*/
    /*font-weight: bold;*/
/*}*/
/*.title a{*/
    /*color: black;*/
/*}*/
/*.title a:hover{*/
    /*color: rgba(99, 89, 39, 0.84);*/
    /*text-decoration: none;*/
/*}*/
/*.table td{*/
    /*vertical-align: middle !important;*/
/*}*/
