.form-singin {
    display: inline-block;
    margin: auto;
    width: 100%;
    max-width: 500px;
    margin-top: 10%;
}
.form-singin h2, .form-singin label {
    color: #969548;
}
.form-singin .form-control{
    color: #ffe292;
}


@media (max-width: 600px) {
    .form-singin h1{
        font-size: 40px;
    }
}
.form-singin h5, .form-singin h2{
    text-align: center !important;
    color: #969548;
}

@media (min-width: 800px) {
    .form-singin {
    }
}
